<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370707943934-lf918ptdbi75ag7j9dsmqo4lu4d03hea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370707943934-lf918ptdbi75ag7j9dsmqo4lu4d03hea</string>
	<key>API_KEY</key>
	<string>AIzaSyDbAb2bEbcLBAYaZ0FWBC5i7rH5wOKZ2u4</string>
	<key>GCM_SENDER_ID</key>
	<string>370707943934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nisarg.myDigitalGuide</string>
	<key>PROJECT_ID</key>
	<string>mydigitalguide</string>
	<key>STORAGE_BUCKET</key>
	<string>mydigitalguide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370707943934:ios:b2d0c995f643b6d99eb0af</string>
</dict>
</plist>